@font-face{
    font-family: 'BERNIER Distressed', sans-serif;
    src: url('../fonts/Bernierdistressed.ttf') format('truetype');
}

@font-face{
    font-family: 'Bebas Neue', sans-serif;
    src: url('../fonts/bebasneuelight.ttf') format('truetype');
}


@font-face{
    font-family: 'Bebas Neue', sans-serif;
    src: url('../fonts/bebasneuebook.ttf') format('truetype');
}


@font-face{
    font-family: 'Bebas Neue', sans-serif;
    src: url('../fonts/bebasneueregular.ttf') format('truetype');
}



@font-face{
    font-family: 'Gilroy', sans-serif;
    src: url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Gilroy Bold', sans-serif;
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'BERNIER Regular', sans-serif;
    src: url('../fonts/BERNIERRegular-Regular.ttf') format('truetype');
}